.cart-wrapper {
  position: relative;
}

.cart {
  position: absolute;
  z-index: 3;
  top: -1em;
  right: 0;
  min-width: 70%;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
  background-color: #e3e9e6;
  padding: 1em;
  &__header {
    display: grid;
    grid-template-columns: 45% 1fr 1fr 1fr 1fr 1fr;
  }
  &__header-item {
    font-size: 13px;
    color: $main-color;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1.5em;
  //  border-bottom: 1px solid rgb(234, 234, 234);
  }
  &__header-item_centre {
  text-align: center;
  }
  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12em;
  }
  &__btn {
    width: 100%;
    height: 3em;
    font-size: 11px;
    color: rgb(74, 74, 74);
    text-transform: uppercase;
    font-weight: 700;
    background-color: $light-grey;
    border-color: $light-grey;
  }
  &__btn:focus {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
    outline: none;
    background-color: $ea-grey;
  }
  &__btn:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
  }
  &__line {
    display: grid;
    grid-template-columns: 45% 1fr 1fr 1fr 1fr 1fr;
  }
  &__product {
    display: flex;
    padding-bottom: 1.5em;
    border-bottom: $border-light;
  }
  &__details {
    margin-left: 1.6em;
    margin-top: 1em;
  }
  &__name {
    display: block;
    font-size: 13px;
    color: $main-color;
    text-transform: uppercase;
    margin-bottom: 2.9em;
  }
  &__info {
    display: block;
    font-size: 13px;
    color: rgb(87, 87, 87);
    line-height: 1.538;
  }
  &__info_spec {
    font-size: 13px;
    color: rgb(87, 87, 87);
    line-height: 1.538;
    opacity: 0.7;
    margin-left: 5px;
  }
  &__data {
    font-size: 13px;
    color: rgb(101, 101, 101);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5em;
    border-bottom: $border-light;
  }
  &__input {
    padding-bottom: 1.5em;
    border-bottom: $border-light;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__quantity-wrap {
    width: 4em;
    height: 2em;
    border: $border-light;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__quantity-btn {
    border: none;
    background-color: transparent;
    color: rgb(101, 101, 101);
    &:hover {
      color: rgb(27, 27, 27);
    }
  }
  &__quantity {
    font-size: 13px;
    color: rgb(101, 101, 101);
  }
  &__delete-wrap {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-bottom: 1.5em;
    border-bottom: $border-light;
    &:hover .cart__delete {
      fill: #797676;
    }
  }
  &__delete {
    fill: #c0c0c0;
  }

}




















