.checkout {
  padding-top: 89px;
  padding-bottom: 94px;

  &__title {
    font-size: 16px;
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 6px;
  }

  &__field {
    border-bottom: 1px solid #e8e8e8;
  }

  &__field:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
  }

  &__field-btn {
    border-color: rgb(234, 234, 234);
    background-color: rgb(255, 255, 255);
    width: 1140px;
    border: none;
    text-align: left;
    padding: 30px 0 24px 0;
  }

  //&__field-btn:focus {
  //  outline: none;
  //}
  &__account {
    display: flex;
    margin-left: 30px;
    margin-top: 35px;
  }

  &__buyer-status,
  &__log-in {
    width: 555px;
  }

  &__buyer-status,
  &__log-in {
    width: 555px;
  }

  &__text_font-size-13dark {
    font-size: 13px;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
  }

  &__text_font-size-13light {
    font-size: 13px;
    color: rgb(179, 178, 178);
    margin-top: 14px;
  }

  &__check_mg-top {
    margin-top: 28px;
  }

  &__radio-title,
  &__radio-title-reg {
    display: flex;
    align-items: center;
  }

  &__radio-check,
  &__radio-reg {
    display: none;
  }

  &__radio-check:checked + .fake-chbx::after,
  &__radio-reg:checked + .fake-chbx-reg::after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__checkout-guest {
    margin-left: 25px;
  }

  &__checkout-guest,
  &__register {
    margin-left: 18px;
  }

  &__text_font-size-12dark {
    font-size: 12px;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
  }

  &__reg_mg-top {
    margin-top: 15px;
  }

  &__save-time_mg {
    margin-top: 28px;
  }

  &__text_mrg-top {
    margin-top: 33px;
  }

  &__button {
    border-color: rgb(234, 234, 234);
    background-color: rgb(255, 255, 255);
    width: 184px;
    height: 54px;
    margin-bottom: 80px;
  }

  &__button:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
  }

  &__button:focus {
    outline: none;
  }

  &__button_font-size-14dark {
    font-size: 14px;
    color: rgb(74, 74, 74);
    font-weight: bold;
    text-transform: uppercase;
  }

  &__button-continue_mg-top {
    margin-top: 38px;
  }

  &__email-adr_mg-top {
    margin-top: 23px;
  }

  &_text-spec {
    color: rgb(255, 13, 13);
    font-size: 16px;
  }

  &__email-input_mg-top,
  &__passowrd-input_mg-top {
    margin-top: 14px;
  }

  &__email-input,
  &__password-input {
    width: 390px;
    height: 44px;
    border: 1px solid #eaeaea;
  }

  &__email-input:focus,
  &__password-input:focus {
    outline-color: #f16d7f;
  }

  &__password_mg-top,
  &__required-fields_mg-top {
    margin-top: 18px;
  }

  &__text_font-colored {
    font-size: 13px;
    color: rgb(255, 13, 13);
  }

  &__button-login_mg-top {
    margin-top: 29px;
  }

  &__forgot-link_mrg-left {
    margin-left: 31px;
  }

  &__forgot-link {
    text-decoration: none;
  }

  &__text_font-size-14dark {
    font-size: 14px;
    color: rgb(34, 34, 34);
  }

}

//.shipping {
//  padding-bottom: 80px;


.fake-chbx,
.fake-chbx-reg {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid rgb(85, 85, 85);
  background-color: transparent;
  position: relative;
}



