@mixin label() {
  background: $white;
  height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 26px;
  padding-left: 18px;
}

.poster {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  &__item {
    position: relative;
    &_mrg {
      margin-bottom: 17px;
    }
  }
  &__men {
    @include label();
    width: 175px;
  }
  &__accessory {
    @include label();
    width: 225px;
  }
  &__women {
    @include label();
    width: 162px;
  }
  &__kids {
    @include label();
    width: 179px;
  }
  &__header {
    font-size: 18px;
    font-weight: 900;
    color: $main-color;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
  }
  &__text {
    font-size: 30px;
    color: $special-color;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
  }
}

.poster__column_gap {
  margin-right: 20px;
}
