.offer-benefits__wrap {
  display: flex;
}

.offer {
  background-image: url(../img/snow.jpg);
  width: 67%;
  &__header {
    padding-left: 38px;
    padding-top: 144px;
    padding-bottom: 275px;
  }
  &__text1 {
    display: block;
    font-size: 60px;
    color: $white;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
  }
  &__text2 {
    font-size: 60px;
    color: $special-color;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
  }
  &__text3 {
    display: block;
    font-size: 32px;
    color: $special-color;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
  }
}

.benefits {
  width: 33%;
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  &__info {
    padding-left: 113px;
    padding-right: 42px;
    position: relative;
    & span {
      display: block;
    }
  }
  &__pic {
    position: absolute;
    top: -1px;
    left: 35px;
  }
  &__header {
    font-size: 20px;
    color: $white;
    font-weight: bold;
    padding-bottom: 15px;
  }
  &__text {
    font-size: 14px;
    color: $white;
    line-height: 1.714;
  }
}

